*{
            margin:0px;
            padding:0px;
            box-sizing: border-box;
        }
        body{
            font-family: sans-serif;
            background-image: url(https://img.freepik.com/free-vector/modern-soft-colorful-watercolor-texture-elegant-background-vector_1055-12706.jpg);
            background-repeat: repeat-y;
            background-size: cover;
        }
        header{
           
        }
        header .logo{
            max-width: 100px;
            margin: auto;
            padding: 20px 0px;
        }
        header .logo img{
            width: 100%;
        }
        header .des{
            width: 90%;
            margin: auto;
            padding: 10px 0px 20px;
        }
        header .des h1{
            text-align: center;
            font-family: 'Aladin', cursive;
            letter-spacing: 3px;
            font-size: 28px;
        }
        header .des p{
            text-align: center;
            font-weight: 100;
            font-size: 14px;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
        .containerCardapio .cardapio{
            width: 93%;
            margin: auto;
        }
        .containerCardapio .cardapio .item{
            height: auto;
            padding: 10px 0px;
            margin: 10px 0px;
            background-color: #FCFC9C;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
        }
        .containerCardapio .cardapio .item h2{
            text-align: center;
            font-size: 24px;
            letter-spacing: 1px;
            font-family: 'Aladin', cursive;
        }
        .containerCardapio .cardapio .pratos #fechar0, #fechar1{
            text-align: center;
            font-size: 12px;
            color: white;
            background-color: black;
            margin: 15px auto;
            border-radius: 20px;
            padding: 5px 10px;
            display: none;
        }
        .containerCardapio .cardapio .pratos{
            width: 100%;
            margin: auto;
            display: none;
        }
        .containerCardapio .cardapio .pratos .content{
            border-bottom:solid 1px rgba(0, 0, 0, .5);
            padding-bottom: 15px;
        }
        .containerCardapio .cardapio .pratos .content .img{
          max-width: 200px;
          margin: auto;
        }
        .containerCardapio .cardapio .pratos .content .img img{
          width: 100%;
          border-radius:20px;
          margin: 20px 0px;
        }
        
        .containerCardapio .cardapio .pratos .content .contentDes{
          width: 100%;
          margin:auto;
          padding: 0px 0px 0px 0px;
        }
        .containerCardapio .cardapio .pratos .content .contentDes h2{
            font-family: 'Aladin', cursive;
            letter-spacing: 1px;
            font-size: 20px;
            text-align: center;
        }
        .containerCardapio .cardapio .pratos .content .contentDes p{
            text-align: center;
            line-height: 1.5;
            margin:10px 0px;
        }
